@page
@model wEB_PROJESİ_SİYAH.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Erişim Engellendi";
}


<div class="text-center">
    <h1 class="display-4">Erişim Engellendi</h1>
    <p class="lead">Bu kaynağa erişim yetkiniz bulunmamaktadır.</p>
  
</div>
