@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Sayfa Başlığı Başlangıç -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Hakkımızda</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Hakkımızda</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Sayfa Başlığı Bitiş -->
<!-- Hakkımızda Başlangıç -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid w-75 align-self-end" src="~/img/about.jpg" alt="Hakkımızda Resmi">
                    <div class="w-50 bg-secondary p-5" style="margin-top: -25%;">
                        <h1 class="text-uppercase text-primary mb-3">25 Yıl</h1>
                        <h2 class="text-uppercase mb-0">Deneyim</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block bg-secondary text-primary py-1 px-4">Hakkımızda</p>
                <h1 class="text-uppercase mb-4">Bir Saç Kesiminden Daha Fazlası. Bizi Daha Yakından Tanıyın!</h1>
                <p>25 yıldan fazla süredir müşterilerimize en iyi hizmeti sunuyoruz. Uzman kadromuz ve modern ekipmanlarımızla sadece bir saç kesimi değil, aynı zamanda bir yaşam tarzı sunuyoruz.</p>
                <p class="mb-4">Müşteri memnuniyetini en üst düzeyde tutarak, kişiye özel çözümlerle her zaman yanınızdayız. Yüzlerce mutlu müşterimizle büyümeye devam ediyoruz.</p>
                <div class="row g-4">
                    <div class="col-md-6">
                        <h3 class="text-uppercase mb-3">1990'dan Beri</h3>
                        <p class="mb-0">Yılların deneyimiyle hizmet veriyoruz. Her saç tipi ve stili için profesyonel çözümler üretiyoruz.</p>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-uppercase mb-3">1000+ Müşteri</h3>
                        <p class="mb-0">Binlerce mutlu müşteriyle çalıştık ve her geçen gün daha fazla insanın hayatına dokunuyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hakkımızda Bitiş -->
<!-- Berberlerimiz Başlangıç -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Berberlerimiz</p>
            <h1 class="text-uppercase">Berberlerimizle Tanışın</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="~/img/team-1.jpg" alt="Berber 1">
                        <div class="team-social">
                            <a class="btn btn-square" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Ahmet Yılmaz</h5>
                        <span class="text-primary">Uzman Berber</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="~/img/team-2.jpg" alt="Berber 2">
                        <div class="team-social">
                            <a class="btn btn-square" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Mehmet Kaya</h5>
                        <span class="text-primary">Saç Stili Uzmanı</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="~/img/team-3.jpg" alt="Berber 3">
                        <div class="team-social">
                            <a class="btn btn-square" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Tarik Berazzi</h5>
                        <span class="text-primary">Profesyonel Kuaför</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="~/img/team-4.jpg" alt="Berber 4">
                        <div class="team-social">
                            <a class="btn btn-square" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Yasin Yılmaz</h5>
                        <span class="text-primary">Stil Danışmanı</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Berberlerimiz Bitiş -->
