@model Web_Programlama__Proje.Models.Rendevu

<h4>Randevu Düzenle</h4>
<hr />

<form asp-action="RendevuDuzenle" method="post">
    <input type="hidden" asp-for="MusteriiID" />

    <div class="form-group">
        <label asp-for="MusteriAd" class="control-label"></label>
        <input asp-for="MusteriAd" class="form-control" />
        <span asp-validation-for="MusteriAd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MusteriSoyAd" class="control-label"></label>
        <input asp-for="MusteriSoyAd" class="form-control" />
        <span asp-validation-for="MusteriSoyAd" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RendevuZaman" class="control-label"></label>
        <input asp-for="RendevuZaman" type="datetime-local" class="form-control" />
        <span asp-validation-for="RendevuZaman" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PersonelID" class="control-label">Personel</label>
        <select asp-for="PersonelID" asp-items="ViewBag.PersonelListesi" class="form-control"></select>
        <span asp-validation-for="PersonelID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Hizmetler" class="control-label">Hizmetler</label>
        <select asp-for="Hizmetler" asp-items="ViewBag.HizmetListesi" class="form-control" multiple></select>
    </div>
    <div class="form-group">
        <label asp-for="MusteriMail" class="control-label"></label>
        <input asp-for="MusteriMail" class="form-control" />
        <span asp-validation-for="MusteriMail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MusteriTelefonNo" class="control-label"></label>
        <input asp-for="MusteriTelefonNo" class="form-control" />
        <span asp-validation-for="MusteriTelefonNo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
